/**
 * first commit
 *
 * @format
 */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.floating-label-input {
  position: relative;
  margin-top: 24px;
}

.floating-label-input label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #1890ff;
  font-size: 14px;
  transition: 0.2s ease all;
  pointer-events: none;
  background-color: white;
  padding: 0 4px;
}

.floating-label-input.focused label {
  top: -20px;
  left: 8px;
  font-size: 12px;
  color: #1890ff;
}
